{% if m %}
<script>
    alert('{{ m }}');
</script>
{% endif %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <title>BP WEB!</title>
  </head>
  <body>
  <br>
  <div class="row justify-content-around">
  <nav class="navbar navbar-expand-sm navbar-light">
    
      <div class="col">
        <a class="navbar-brand mynav" href="{% url 'home' %}">
          <img src="{% static '/images/landing/logo.png'%}" alt="Ooops! No file found. " height="25%" width="25%">
        </a>
      </div>
      <div class="col-offset-4">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li><a href="{% url 'login' %}" class="nav-link">Log in</a></li>
            <li><a href="{% url 'signup' %}" class="nav-link">Signup</a></li>
        </ul>
      </div>
    </div>
  
  </nav>
  </div>
  <div class="container mycontent">
    {% block content %}

    {% endblock %}

  </div>

  </body>
</html>
