{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<br><br>
  <div class="row justify-content-around">
    <div>
      <div class="col">
          <h1 class="display-4"></h1>
      </div>
      <div class="col-offset-4">
      </div>
    </div>
  </div>

<div class="row">

    <div class="col-md-12" align-self-center>
      <div class="card" style="width:75%; margin-left: 15%; margin-top: 11%">
        <img class="card-img-top" src="{% static 'images/landing/doct.jpg'%}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"><center> Doctor Joan </h4></center>
          <p class="card-text"></p>


              </div> <!-- modal content -->
            </div> <!-- modal dialog -->
          </div> <!-- modal -->
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col-md-4 -->



              </div> <!-- modal content -->
            </div> <!-- modal dialog -->
          </div> <!-- modal -->
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col-md-4 -->

  </div> <!-- row -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
{% endblock %}
