{% if m %}
<script>
    alert('{{ m }}');
</script>
{% endif %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <title>BP WEB!</title>
  </head>
  <body background="{% static '/images/landing/wallpaper-light.png'%}">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand mynav" href="{% url 'home' %}">
      <img src="{% static '/images/landing/bp_logo.png'%}" alt="Ooops! No file found. " height="40" width="60">
      BPWEB
    </a>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li><h4>Welcome, {{ e }}!</h4></li>
            <li><a href="{% url 'dash' %}" class="nav-link">Dashboard</a></li>
            <li><a href="{% url 'log' %}" class="nav-link">Logout</a></li>





      </ul>



  </div>
  </nav>
  <div class="container mycontent">
    {% block content %}

    {% endblock %}

  </div>

  </body>
</html>
